<h1>User info</h1>
<%= image_tag user.get_profile_image(100,100) %>
<table class="table">
  <tbody>
    <tr>
      <td><p><strong>name</strong></p></td>
      <td><strong><%= user.name %></strong></td>
    </tr>
    <tr>
      <td><p><strong>introduction</strong></p></td>
      <td><strong><%= user.introduction %></strong></td>
    </tr>
  </tbody>
</table>

<% if user.id == current_user.id %>
  <%= link_to edit_user_path(user), class: "btn btn-secondary" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
<% end %>
